[access "refs/heads/master"]
	read = group Anonymous Users
	label-Code-Review = -2..+2 group google/gerritcodereview-maintainers@googlegroups.com
	label-Code-Review = -1..+1 group Registered Users
	submit = group google/gerritcodereview-maintainers@googlegroups.com
[access "refs/for/refs/heads/master"]
	push = group Registered Users
[access "refs/heads/private"]
	read = group google/gerrit-user-summit-2015@googlegroups.com
	read = group google/gerritcodereview-maintainers@googlegroups.com
[access]
	inheritFrom = Public-Projects
